.textGrid{
    width: 102%;
}

#customPopup{
    background: rgb(5,2,54);
    background: linear-gradient(310deg, var(--first-background-color) 0%, var(--second-background-color) 33%, var(--third-background-color) 100%); 
    width: 75vw;
}

#disableBack{
    background: transparent;
}

.ui.dimmer{
    background-color: rgba(0,0,0,.55) !important;
}

.backBtn{
    height: 5vh !important;
    width: 5vw !important;
    font-size: 0.9vw !important;
}

@media screen and (max-width: 592px) {
    .backBtn{
        font-size: 3vw !important;
        width: 15vw !important;
    }
    .backBtn i{
        font-size: 3vw !important;
    }
}

@media screen and (min-width: 592px) {
    .backBtn{
        font-size: 1vw !important;
    }
    .backBtn i{
        font-size: 1vw !important;
    }
}

@media screen and (max-height: 492px) {
    .backBtn{
        font-size: 2vw !important;
    }
    .backBtn i{
        font-size: 3vw !important;
    }
}

@media screen and (max-height: 392px) {
    .backBtn{
        font-size: 2vw !important;
        width: 10vw !important;

    }
    .backBtn i{
        font-size: 3vw !important;
    }
}