.logo-style{
    border-radius: 3%;
    background: rgba(255, 255, 255, 0.1);
    border: 0.3vw double black;
    width: 25vw;
    margin-left: 2vw;
}

.App-logo{
    border-radius: 3%;
    background: rgba(255, 255, 255, 0.1);
    border: 0.1vw solid black;
    object-fit: contain;
    width: 4vw;
}

.title-style{
    font-size: 2vw;
    color: white;
    font-family: Cursive, "Times New Roman", Times, serif;
    -webkit-text-stroke: 0.04vw black;
}